
#nav-toolbar {
    padding:0;
    margin: 0;
}               

button.moulin-tb {
	position:relative;
	left:0;
	border: 0px !important; 
	-moz-appearance: none !important;
	padding:0;
	margin:0;
	border:0;
	background-image:none;
	background-color:transparent;
}

#searchbox {
	width:167px;
	-moz-appearance: none !important;
	border:0;
	background-color: transparent;
	background-image:url(img/searchfield.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	width:167px;
}

textbox.moulin-tb {
	-moz-appearance: none !important;
	border:0;
	background-color: transparent;
	background-repeat:no-repeat;
	color: -moz-FieldText;
	margin-top: 0;
	width:130px;
	height:4px !important;
	overflow:hidden;
	padding-right:0px;
	padding-left:0px;
	font-size: 20px;
    padding-top: 2px;
    
	margin-left: -20px;
	margin-right: 0px;
}

window.rtl textbox.moulin-tb {

	margin-right: -5px;
}

button.moulin-tb:hover {
	cursor: pointer;
}

#nav-toolbar{
	padding:0;
	margin:0;
	border:0;
	background-image:url(img/background.png);
	height:77px !important;
}

#gohome { list-style-image : url(img/moulin.png); }
/*#gohome:hover { list-style-image : url(img/home60_fade.png); }*/

#goback { list-style-image : url(img/arrowtoleft.png); }
/*#goback:hover { list-style-image : url(img/back60_fade.png); }*/

#goforward { list-style-image : url(img/arrowtoright.png); }
/*#goforward:hover { list-style-image : url(img/forward60_fade.png); }*/

#search {
    position:absolute;
	margin: 0;
	padding: 0;
	margin-left: -15px;
 }

window.rtl #search {
    margin-right: -15px;
}

/*#search:hover { list-style-image : url(img/search-button60_fade.png); } */

#print { list-style-image : url(img/printer.png); }
/*#print:hover { list-style-image : url(img/print60_fade.png); }*/

#sizeup { list-style-image : url(img/textplus.png); }
/*#sizeup:hover { list-style-image : url(img/textup60_fade.png); }*/

#sizedown { list-style-image : url(img/textminus.png); }
/*#sizedown:hover { list-style-image : url(img/textdown60_fade.png); }*/

#findin { list-style-image : url(img/searchinpage.png); }
/*#findin:hover { list-style-image : url(img/searchinpage60_fade.png); }*/

#fullscreen { list-style-image : url(img/fullscreen.png); }
/*#fullscreen:hover { list-style-image : url(img/fullscreen60_fade.png); }*/

#sidebar { list-style-image : url(img/sidebar.png); }
/*#sidebar:hover { list-style-image : url(img/sidebar60_fade.png); }*/

#nav-toolbar .button-text {
	display:none;
}

/* right to left secific */
window.rtl * #goforward { list-style-image : url(img/arrowtoleft.png); }
/*window.rtl * #goforward:hover { list-style-image : url(img/back60_fade.png); }*/
window.rtl * #goback { list-style-image : url(img/arrowtoright.png); }
/*window.rtl * #goback:hover { list-style-image : url(img/forward60_fade.png); }*/

